**
!package.json
!bun.lock
!bunfig.toml
!tsconfig.json
!packages/*/package.json
!packages/*/src/**
!src/**
!web/package.json
!web/index.html
!web/favicon.svg
!web/src/**
!web/translations/**
**/*.test.ts
